body{
    font-family: arial;
    margin: 0px;
    background-image: url('../assets/login/background.png');
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 100%;
}

header{
    position: sticky;
    top: 0px;
    height: 0px;
}

/* HEADER */

.header-container{
    background-image: linear-gradient(to right, rgb(213, 146, 37), rgb(213, 146, 37), rgb(171, 36, 36), rgb(213, 146, 37), rgb(213, 146, 37));
    height: 50px;
}

.header-logo-container{
    text-align: center;
    display: inline-block;
    width: 100%;
}

.header-logo{
    margin-top: 5px;
    height: 40px;
    width: 40px;
}

/* MAIN */

main{
    margin-top: 190px;
}

/* LOGIN */

.main-login-container{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.main-login-name-container{
    text-align: center;
}

.main-login-name{
    font-weight: bold;
    font-size: 35px;
    margin: 0px;
}

.main-login-form-container{
    margin-top: 20px;
    background-color: #D8D8D8;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
    border-radius: 5px;
}

.main-login-form-content-container-Email{
    margin-top: 20px;
}

.main-login-form-content-container-Email input{
    border-radius: 35px;
    width: 90%;
    margin-bottom: 10px;
}

.main-login-form-content-container-Password{
    margin-bottom: 20px;
}

.main-login-form-content-container-Password input{
    border-radius: 35px;
    width: 90%;
}

.main-login-form-content{
    margin: 0px;
    margin-right: 5px;
    font-size: 1em;
}

.main-login-form-input{
    border: 0px;
    font-size: 1em;
    padding: 1.25em 1em;
}

.main-login-button-container{
    text-align: center;
}

.main-login-button-enter{
    padding: 1.25em;
    cursor: pointer;
    font-size: 1em;
    background-color: #891309;
    text-align: center;
    border-radius: 35px;
    color: white;
    font-weight: bold;
}

.main-login-button-enter:hover{
    background-color: #ff7700;
    cursor: pointer;
}