body{
    font-family: arial;
    margin: 0px;
    background-color: #FFF8F1;
}

header{
    position: sticky;
    top: 0px;
    height: 0px;
}

/* HEADER */

@media screen and (max-width: 1279px){
    #header-container{
        height: 100px;
    }

    #header-left{
        margin-top: 25px;
    }

    #header-left-hide{
        display: none;
    }

    #header-left-content:link, .header-left-content:visited{
        font-size: 2.5em;
    }
    
    #header-left-content:hover{
        font-size: 2.5em;
    }

    #header-logo-container img{
        margin-top: -30px;
        height: 150px;
        width: 150px;
    }

    #header-right{
        margin-top: 15px;
        margin-right: 30px;
    }

    #header-right-content{
        font-size: 2.5em;
    }

    #header-right-content-compress:link, .header-right-content-compress:visited{
        font-size: 2.5em;
    }
    
    #header-right-content-compress:hover{
        font-size: 2.5em;
    }
}

.header-container{
    background-color: #F8A756;
    height: 50px;
}

.header-left-container{
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.header-left{
    margin-top: 12px;
    display: inline-block;
    padding-left: 30px;
    padding-right: 10px;
}

.header-left-content:link, .header-left-content:visited{
    font-size: 1.35em;
    color: black;
    text-decoration: none;
}

.header-left-content:hover{
    color: #FFF8F1;
    font-size: 1.35em;
}

.header-logo-container{
    text-align: center;
    display: inline-block;
    width: 33%;
}

.header-logo{
    margin-top: -18px;
    height: 80px;
    width: 80px;
}

.header-right-container{
    width: 33%;
    margin-top: 12px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.header-right{
    margin-right: 20px;
}

.header-right-content:link, .header-right-content:visited{
    color: black;
    text-decoration: none;
    font-size: 1.35em;
}

.header-right-content:hover{
    color: #FFF8F1;
    font-size: 1.35em;
}

/* FLOATING LINKS */

@media screen and (max-width: 1279px){
    #floating-links{
        display: none;
    }

    #main{
        margin-top: 140px;
    }
}

.floating-links{
    width: 40px;
}

.floating-links-facebook{
    position: sticky;
    top: 0px;
    margin-top: 200px;
    height: 40px;
    width: 40px;
    background-color: blue;
}

.floating-links-instagram{
    position: sticky;
    margin-top: -4px;
    top: 0px;
    height: 40px;
    width: 40px;
    background-color: pink;
}

.floating-links-youtube{
    position: sticky;
    margin-top: -4px;
    top: 0px;
    height: 40px;
    width: 40px;
    background-color: red;
}

.floating-links-twitter{
    position: sticky;
    margin-top: -4px;
    top: 0px;
    height: 40px;
    width: 40px;
    background-color: skyblue;
}

/* MAIN */

main{
    margin-top: 90px;
}

/* Introduction */

@media screen and (max-width: 1279px){
    #main-introduction-container{
        width: 450px;
        justify-content: center;
    }

    #main-introduction-line-container{
        margin-right: 0px;
        margin-left: 0px;
    }
}

.main-introduction-container{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.main-introduction-name-container{
    text-align: center;
}

.main-introduction-name{
    font-size: 4em;
    margin: 0px;
}

.main-introduction-line-container{
    margin-right: 30px;
    margin-left: 30px
}

.main-introduction-line{
    border: 2px solid black;
    border-radius: 10px;
}

.main-order-container{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.main-order-column-name-container-OrderID{
    display: inline-block;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.main-order-column-name-container-OrderID p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-order-column-name-container-Order-Date{
    display: inline-block;
    margin-left: 45px;
}

.main-order-column-name-container-Order-Date p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-order-column-name-container-Shipping-Date{
    display: inline-block;
    margin-left: 45px;
}

.main-order-column-name-container-Shipping-Date p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-order-column-name-container-MOPD{
    display: inline-block;
    margin-left: 45px;
}

.main-order-column-name-container-MOPD p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-order-column-name-container-Status{
    display: inline-block;
    margin-left: 50px;
}

.main-order-column-name-container-Status p{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Tables */

.main-order-empty{
    color: red;
    text-align: center;
    font-size: 1.35em;
    margin-top: 30px;
}

.main-order-tables-container:link, .main-order-tables-container:visited{
    color: black;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
    display: block;
}

.main-order-tables-container:hover{
    background-color: #F8A756;
    cursor: pointer;
    display: block;
}

.main-order-tables-container-new:link, .main-order-tables-container-new:visited{
    color: black;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
    display: block;
    background-color: #ffd6ae;
}

.main-order-tables-container-new:hover{
    background-color: #F8A756;
    cursor: pointer;
    display: block;
}

.main-order-column-name-OrderID{
    display: inline-block;
    margin-left: 5px;
    width: 77px;
}

.main-order-column-name-OrderID p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-order-column-name-Order-Date{
    display: inline-block;
    margin-left: 45px;
    width: 120px;
}

.main-order-column-name-Order-Date p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-order-column-name-Shipping-Date{
    display: inline-block;
    margin-left: 35px;
    width: 120px;
}

.main-order-column-name-Shipping-Date p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-order-column-name-MOPD{
    display: inline-block;
    margin-left: 65px;
    width: 250px;
}

.main-order-column-name-MOPD p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-order-column-name-Status{
    display: inline-block;
    margin-left: 80px;
}

.main-order-column-name-Status img{
    margin-bottom: -3px;
}

.main-order-column-name{
    font-size: 1.35em;
}

.main-order-img{
    height: 20px;
    width: 20px;
}